<div class="list-group">
    <a href="#" class="list-group-item active"><span>Home</span></a>
    <a href="#" class="list-group-item"><span>Organization</span></a>
    <a href="#" class="list-group-item"><span>Departments</span></a>
    <a href="#" class="list-group-item"><span>Employees</span></a>
    <a href="#" class="list-group-item"><span>Calender</span></a>
    <a href="" onclick="logout()" class="list-group-item"><span>Logout</span></a>
</div>