<div class="card">
    <div class="card-header">
        Sign up
    </div>
    <div class="card-body">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="signUpFirstName" placeholder="First name"
                        formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First name is required</div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="signUpLastName" placeholder="Last name"
                        formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <input type="email" class="form-control" id="signUpEmail" placeholder="Email"
                        formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <input type="password" class="form-control" id="signUpPw" placeholder="Password" formControlName="password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
            <a routerLink="/sign-in" class="btn btn-link">Cancel</a>
        </form>
    </div>
</div>